
<body>
  <div class="container"></div>
    <div id="main_header">
      <img src="./images/ceezwe2.jpg" placeholder="ceezwe">
      <h1>
        Sizwe Sibusiso<br>
        Hlongwane<br>
        Software development Trainee
      </h1>
    </div>
  <div class="clearfix">
  <div id="box_1">
    <h4>PERSONAL INFORMATION</h4>
    <p>
      921227 6229 08 7<br>
      Male<br>
      Single<br>
      South African<br>
      African<br>
    </p>
    <h4>CONTACTS</h4>
    <p>
      0789008994<br>
      ceeboongwabe@gmail.com<br>
      339 Mapoane Crescent, Voloorus EXT 5,<br>Boksbug, Gauteng<br>
    </p>
    <h4>PROFESSIONAL SKILLS</h4>
      <ul>
        <li>Microsoft office</li>
        <li>Java (software development)</li>
        <li>Java Android (Mobile Application Development)</li>
        <li>HTML and CSS</li>
        <li>JavaScript</li>
      </ul>

    <h4>LANGUAGES</h4>
    <p>
      English<br>
      Isizulu<br>
      Northen Sotho<br>
      SiSwati<br>
      SiXhosa<br>
    </p>
  </div>
  <div id="box_2">
    <h4>EDUCATION</h4>
    <p>
      Ngali Secondary School<br>
      Matric (Grade 12)<br>
      2015<br>
      <br>
      Ekurhulen Western College<br>
      Electrical Engineering (N5)<br>
      2013<br>
      <br>
      Tshwane University of Technology<br>
      Nation Diplom computer Science<br>
      2018<br>
      </p>
      <h4>REFERENCES</h4>
      <p>
      Mr M liebenberg<br>
      Tshwane University of Technology<br>
      Lecture, WIL Coordinator<br>
      012 382 9596<br>
      liebenbergm@tut.ac.za<br>
      <br>
      Mr T Netshisumbewa<br>
      Tshwane University of Technology<br>
      Lecture<br>
      012 382 9596<br>
      netshisumbewat@tut.ac.za<br>   
      </p>
    </div>
  </div>
  <div id="main_footer" >
    <p>
      Copyright &copy; 2018 resume of sizwe Sibusiso Hlongwane
    </p>  
  </div>
</body>
